html, body {
  margin: 0;
  padding: 0;
}

/* NavBar */

a{
  text-decoration: none;
  color: #ffffff;
}

.Home {
  font-family: 'Geo';
  margin-bottom: 100px;
}

.Navbar {
  background-color: #2660A4;
  bottom: 0;
  width: 100%;
  height: 80px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: fixed;
}

.Options {
  color: #ffffff;
  text-align: center;
  padding: 10px 50px;
  display: flex;
  justify-content: center;
}

.Space-top {
  height: 85px;
}

.material-icons.md-light { color: #ffffff }

.Icon-info {
  display: block;
  cursor: pointer;
}

span.material-icons.md-light{
  margin: 1vh 30px 10px 30px;
  cursor: pointer;
}

span.material-icons{
  cursor: pointer;
  font-size: 20px;
}

/* Header */

.Header-app {
  position: fixed;
  background: #ffffff;
  width: 100%;
}

.Header-line {
  background-color: #2660A4;
  display: flex;
  width: 100%;
  height: 1vh;
  position: absolute;
}

.Minor-logo {
  max-height: 80px;
  margin-left: 30vw;
}

.Logout-button {
  margin-top: -25px;
  margin-right: 10vw;
  margin-bottom: 5px;
  color: #F15025;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

.Logout-text {
  cursor: pointer;
  font-size: 20px;
}

/* Profile Bar */

.Username {
  text-align: center;
}

.NumberOfFollowers{
  margin: 25px;
  text-align: center;
}